.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.cake_task_cache

pids
logs
results

npm-debug.log

docs
build
aws-credentials.json

contents/paper.html
contents/paper.jade

.agignore
node_modules
contents/css/main.css
contents/js/main.min.js
