---
template: layout.jade
---

.container
  .row
    .col-sm-5
      h1.page-header Software
      p Code for calculating integrated information is open-source and 
        a(href="http://github.com/wmayner/cyphi") available on GitHub. 
    .col-sm-1
    .col-sm-5
      h1.page-header Theoretical Papers
      h3 IIT 3.0
      h3 IIT 2.0
      h3 IIT 1.0
  .row
    .col-sm-5
      h1.page-header Experimental Papers
    .col-sm-1
    .col-sm-5
      h1.page-header Talks
