---
template: layout.jade
---

include iit-header.jade
.row
  .col-sm-12
    p.lead
      | Integrated information theory (IIT) is a theoretical framework
      | for understanding consciousness developed by Dr. Giulio Tononi
      | and collaborators at the
      a(href="http://centerforsleepandconsciousness.med.wisc.edu/", target="_blank") Wisconsin Institute for Sleep and Consciousness
      |  at the University of Wisconsin–Madison.
.row
  .col-sm-12
    section#papers
      h1.page-header Overview
      ul.pub-list
        li.pub-item
          a(href="https://doi.org/10.1038/nrn.2016.44", target="_blank") Integrated information theory: from consciousness to its physical substrate
          br
          em Nature Reviews Neuroscience
          |  (2016)
        li.pub-item
          a(href="https://doi.org/10.1371/journal.pcbi.1003588", target="_blank") From the phenomenology to the mechanisms of consciousness: integrated information theory 3.0
          br
          em PLoS Computational Biology
          |  (2014)
        li.pub-item
          a(href="https://doi.org/10.4249/scholarpedia.4164", target="_blank") Integrated information theory
          br
          em Scholarpedia
          |  (2015)
.row
  .col-sm-12
    section#announcements
      h1.page-header Announcements
      .alert.alert-info.alert-banner(role='alert')
        h1 Open positions
        p If you are interested in working with us, please send an email and CV to
          strong Giulio Tononi
          |  (
          a(href="mailto:gtononi@wisc.edu") gtononi@wisc.edu
          | ) and/or
          strong Larissa Albantakis
          |  (
          a(href="mailto:albantakis@wisc.edu") albantakis@wisc.edu
          | ).

      //- .alert.alert-info.alert-banner(role='alert')
      //-   h1 Open positions
      //-   p Several postdoctoral positions are available in the integrated information theory group at the
      //-     a(href='http://centerforsleepandconsciousness.med.wisc.edu') Wisconsin Institute for Sleep and Consciousness
      //-     | in the laboratory of Dr. Giulio Tononi.
      //-   p Candidates are expected to have strong training in an analytically rigorous discipline such as theoretical biology/neuroscience, physics, mathematics, computer science, or engineering. We explicitly encourage mathematicians to apply. Experience in information theory, complex systems, and an interest in the philosophy of mind/information/causation are a plus.
      //-   p Programming experience is required (knowledge of MATLAB, Python, and/or C++ is of advantage).
      //-   p Applicants should send a CV, brief statement of previous research and future research interests, and email addresses and phone numbers of three references to Dr. Giulio Tononi (
      //-     a(href='mailto:gtononi@wisc.edu') gtononi@wisc.edu
      //-     | ).
      //-   p For more information contact Dr. Larissa Albantakis (
      //-     a(href='mailto:albantakis@wisc.edu') albantakis@wisc.edu
      //-     | ).
.row
  .col-sm-12
    include software-description.jade
