---
template: layout.jade
---

.row
  .col-sm-12
    section#papers
      h1.page-header Overview
      ul.pub-list
        li.pub-item 
          a(href="http://www.nature.com/nrn/journal/v17/n7/full/nrn.2016.44.html", target="_blank") Integrated information theory: from consciousness to its physical substrate
          br
          em Nature Reviews Neuroscience
          |  (2016)
        li.pub-item 
          a(href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003588", target="_blank") From the phenomenology to the mechanisms of consciousness: integrated information theory 3.0
          br
          em PLoS Computational Biology
          |  (2014)
        li.pub-item 
          a(href="http://www.scholarpedia.org/article/Integrated_information_theory", target="_blank") Integrated information theory
          br
          em Scholarpedia
          |  (2015)
.row
  .col-sm-12
    section#announcements
      h1.page-header Announcements
      .alert.alert-info.alert-banner(role='alert')
        h1 
          a.prompt(href="http://www.nsas.it/consciousness", target="_blank") Summer School on Consciousness
        h3
          a(href="https://www.google.com/maps/place/Kloster+Neustift/@46.7442402,11.6465273,17z/data=!3m1!4b1!4m5!3m4!1s0x477804fed2e70a63:0x3ebd1e95cfc2c841!8m2!3d46.7442402!4d11.648716", target="_blank") Abbazia di Novacella in Bressanone, Italy
        h3 September 17–24, 2016
        br
        h3 Faculty:
        ul.list-inline
          li(style="padding-left:5px") Giulio Tononi,
          li Christof Koch,
          li Niko Schiff,
          li Hal Blumenfeld,
          li Catherine Tallon-Baudry,
          li Lucia Melloni,
          li Antti Revonsuo,
          li Patrik Vuilleumier,
          li Marcello Massimini,
          li Melanie Boly,
          li Larissa Albantakis
        br
        p The Neuroscience School of Advanced Studies (NSAS) is accepting applications for an intensive, multiday course entitled <strong>‘Consciousness: From Theory to Practice.’</strong>
        p Lectures will cut across multiple fields of consciousness studies and will feature dedicated sessions addressing important emerging areas. Emphasis will be placed on cutting-edge methods and theories for understanding consciousness, and on how neurological/neurophysiological investigations can shed light on the nature of consciousness and its disorders. 
        p Some of the topics that will be covered include the following: 
          ul 
            li Integrated Information Theory
            li Key conceptual distinctions in the study of consciousness and their empirical investigation
            li New approaches for studying the neural correlates of consciousness (NCC) and subjectivity 
            li The implications of neurological lesion studies for generating causal and predictive models of consciousness disorders
            li The contribution of neuropsychological disorders (e.g., spatial neglect, blindsight, seizures disorders) to our understanding of awareness and consciousness
            li The contribution of processes preceding (e.g., attention) or following (e.g., memory) the NCC to our understanding of the NCC
            li How TMS-induced cortical perturbations can be used both to investigate the physical mechanisms of consciousness and to develop useful measures of individuals' levels of consciousness
        p The course will be an interactive, multidisciplinary forum in which participants will discard outdated notions, gain an appreciation for the latest thinking, and develop insights that will help navigate the complexity of consciousness research. 
        p To find out more about the course or to apply, please visit the following website: 
        p
          a.btn.btn-lg.btn-primary(href='http://www.nsas.it/consciousness', role="button") http://www.nsas.it/consciousness
      //- .alert.alert-info.alert-banner(role='alert')
      //-   h1 Open positions
      //-   p Several postdoctoral positions are available in the integrated information theory group at the 
      //-     a(href='http://centerforsleepandconsciousness.med.wisc.edu') Center for Sleep and Consciousness 
      //-     | in the laboratory of Dr. Giulio Tononi.
      //-   p Candidates are expected to have strong training in an analytically rigorous discipline such as theoretical biology/neuroscience, physics, mathematics, computer science, or engineering. We explicitly encourage mathematicians to apply. Experience in information theory, complex systems, and an interest in the philosophy of mind/information/causation are a plus. 
      //-   p Programming experience is required (knowledge of MATLAB, Python, and/or C++ is of advantage).
      //-   p Applicants should send a CV, brief statement of previous research and future research interests, and email addresses and phone numbers of three references to Dr. Giulio Tononi (
      //-     a(href='mailto:gtononi@wisc.edu') gtononi@wisc.edu
      //-     | ).
      //-   p For more information contact Dr. Larissa Albantakis (
      //-     a(href='mailto:albantakis@wisc.edu') albantakis@wisc.edu
      //-     | ).
.row
  .col-sm-12
    include software-description.jade
