#actual-causation
  padding-top 10px
  .title, .game-info
    margin-bottom 20px
    color rgb(51, 51, 51)
    font-size 36px
  .nav-tabs
    margin-bottom 30px
    > li
      > a
        font-weight bold
        color link_color
      &.active > a
        color sol_primary

#actual-causation-figure-1
  width 55%
  padding 10px
  padding-bottom 20px
  figcaption
    text-align center

#actual-causation-figure-2
  width 55%
  padding 10px
  figcaption
    padding-top 20px

#actual-causation-simulation-wrapper
  display float
  width 100%
  margin 0 auto
  position relative

#actual-causation-simulation-description
  font-size 85%

#actual-causation-simulation
  display block
  position relative
  width 1400px
  height 800px
  margin-left -115px
