#actual-causation
  padding-top 10px
  .title, .game-info
    margin-bottom 20px
    color rgb(51, 51, 51)
    text-align center
    font-size 36px
  .nav-tabs
    margin-bottom 30px
    > li
      > a
        color link_color
      &.active > a
        color sol_primary

#actual-causation-simulation-wrapper
  width 80%
  display float
  width 100%
  margin 0 auto
  position relative

#actual-causation-simulation
  display block
  position relative
  width 1140px
  height 800px
