.btn-default
  background sol_highlight
  &:hover
    background darken(sol_highlight, 3%)

a .btn:hover
  color inherit

.btn-primary
  background cyan
  border none
  &:hover
    background darken(cyan, 10%)

.github-buttons
  position relative
  >.wrap
    position absolute
    bottom 0
    right 0
    iframe
      position static
