#content
  z-index 0
  margin (global_top_margin - hOne_top_margin) 0 0 0
  padding 0 7% 0 7%
  width 75%

// xs, sm
unquote("@media (max-width: "+sm_max+") {")
#content
  width 100%
  padding 0 20px
  margin 0
unquote("}")

// sm
unquote("@media (min-width: "+sm_min+") and (max-width: "+sm_max+") {")
#content
  margin header_height 0 0 0
unquote("}")

// md
unquote("@media (min-width: "+md_min+") and (max-width: "+md_max+") {")
#content
  padding 0 5%
  width 70%
unquote("}")

