.footer
  padding 10px 0
  color sol_secondary
  font-size 60%
  text-align center
  .copyright
    margin auto

// Sticky footer
// ~~~~~~~~~~~~~~~~~~~~~~~~~~
footer_height = 40px
html
  position relative
  min-height 100%
body
  margin-bottom footer_height
.footer
  position absolute
  bottom 0
  width 100%
  height footer_height
// ~~~~~~~~~~~~~~~~~~~~~~~~~~
