footer .copy
  margin-top 100px
  color sol_secondary
  font-size 60%
  text-align center

// xs
unquote("@media (max-width: "+xs_max+") {")
footer .copy
  margin 20px 0 -20px 0
  text-align center
unquote("}")
