.iit-header
  padding 40px 15px
  font-size 100%
  text-shadow 0 1px 0 rgba(0,0,0,.15)
  h1
    font-family 'Varela Round'
    font-size 150%
    text-transform uppercase
    letter-spacing 0.2ex
  p
    font-weight 300
    line-height 1.5
  .container
    position relative
  .logo
    float left
    margin-right 35px
    display inline-block
    height 100px

// xs
unquote("@media (max-width: "+xs_max+") {")
unquote("}")

// sm
unquote("@media (min-width: "+sm_min+") and (max-width: "+sm_max+") {")
unquote("}")

// md
unquote("@media (min-width: "+md_min+") and (max-width: "+md_max+") {")
// .header
//   width 30%
unquote("}")

// lg
unquote("@media (min-width: "+lg_min+") {")
unquote("}")

// md, lg
unquote("@media (min-width: "+md_min+") {")
.iit-header p
  margin-right 380px
unquote("}")
