body
  padding-top navbar_height
  &::-webkit-scrollbar
    display none

.anchor
  padding-top navbar_height
  margin-top - navbar_height

#content
  padding-bottom 40px

iframe
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  border 0
  height 100%
  width 100%