.navbar-inverse
  border none
  color sol_secondary
  .navbar-brand
    font-family display_font
    font-size 120%
    letter-spacing 0.25ex
    color sol_background
  .navbar-nav>li>a
    color inherit
    &:hover
      color lighten(sol_secondary, 50%)
  .navbar-nav>li.active>a
    background-color darken(navbar_background, 80%)
    color lighten(sol_secondary, 50%)

// Phones
@media (max-width: 767px)
  .navbar-inverse
    .navbar-nav>li>a
      &:hover
       padding-left 10px
       border-left 5px solid cyan
    .navbar-nav>li.active>a
      padding-left 10px
      border-left 5px solid cyan

// Tablets and larger
@media (min-width: 768px)
  .navbar-inverse
    .navbar-nav>li>a
      &:hover
        padding-bottom 10px
        border-bottom 5px solid cyan
    .navbar-nav>li.active>a
      padding-bottom 10px
      border-bottom 5px solid cyan
