@import "solarized-colors"

pre, code, pre.prettyprint, code.prettyprint
  background-color base3
  -moz-border-radius 4px
  -webkit-border-radius 4px
  -o-border-radius 4px
  -ms-border-radius 4px
  -khtml-border-radius 4px
  border-radius 4px
  color base00

code, code.prettyprint
  padding .4ex .6ex
  margin 0 0.2ex
  font-size 90%

pre, pre.prettyprint
  font-size 95%
  width 100%
  margin 1em 0
  padding .8em 1em
  white-space pre-wrap
  border none

.kwd
  color blue
.pln
  color base00
.pun
  color base01
.typ
  color yellow
.com
  color base1
  font-style italic
.lit
  color cyan
.str
  color cyan
.tag
  color blue
.atn
  color base00
.atv
  color cyan
.opn
  color base01
.clo
  color base01
.dec
  color base01
  font-style italic
pre.prettyprint ol.linenums
  color base1

