span.undefined
  color red

.clear
  clear both

.publications
  font-weight normal
  font-size 90%
  thead
    th
      text-align center
      padding 10px 0
      font-weight bold
      cursor pointer
      cursor hand
  tfoot
    th
      padding 10px
      border-top 1px solid black
      font-weight bold
  td
    padding 15px 15px
    &.center
      text-align center

div[id$=_info]
  margin-top 20px

div[id$=_filter]
  text-align center
  font-weight normal
  margin-top 30px
  input
    color inherit
    padding 5px
    border-radius 5px
    border 1px solid #ccc
    margin-left 10px
    width 75%

.equal-coauthor
  color link_color
  font-weight bold
  cursor pointer
