// Base styles

body
  font-family base_font
  font-weight 300
  color sol_primary
  background-color sol_background
  font-size base_font_size
  text-align left

p
  margin-bottom 15px

p.lead
  font-size 115%
  font-weight 300

u
  text-decoration underline

strong
  font-weight 400

span.keyboard
  font-weight bold
  background #ccc
  border-radius 3px
  padding 4px 6px

.footnote
  font-size 80%

.math-font
  font-family 'Open Sans'
  font-size 100%
  padding 0 5px
  font-weight 100

// Headers

.title
  font-size 150%

h1, h2, h3, h4, h5, h6
  font-family base_font
  font-weight 400
  a
    color sol_primary
    &:hover
      color link_color
      text-decoration none
  text-align left

h1
  font-size 150%

h2
  font-size 120%

h3
  font-size 110%

h4
  font-size 100%

.page-header
  line-height 1.25
  border-bottom 1px solid darken(sol_highlight, 5%)

// Lists

.pub-list
  margin-top 15px
  text-align left
  .pub-item
    margin-bottom 15px
    line-height 1.7
    .label
      margin-right 1.5ex

ul
  text-align left
  padding-left 1.5em

dl
  dt
    font-weight 400

.block-ul
  padding 10px 0
.block-li
  text-shadow 0 1px white
  margin 0 25px 25px 0
  display inline-block
  padding 10px 10px
  vertical-align baseline
  font-size 100%
  >.block-li-label
    padding 5px
    display inline
    color sol_secondary
    font-weight 300
  >.item
    padding 5px
    margin-left 0.5ex
    display inline
    font-weight normal
    color darken(sol_secondary, 8)
  &[href]:hover
    text-shadow none
    background-color link_color
    color sol_background
    >.block-li-label
      color lighten(link_color, 50)
    >.item
      color sol_background

// Code

pre, code, pre.prettyprint, code.prettyprint
  font-family mono_font
  font-size 85%
  background-color sol_highlight

code
  padding 3px 9px


// Links

a
  color link_color
  &:hover
    color link_color
    text-decoration underline

a.prompt
  color inherit
  &:hover
    color link_color
    text-decoration none
  &:after
    content "»"
    color link_color
    padding 0 0 0 .5ex

// Dates

.date
  position relative
  color sol_secondary
  >.wrap
    position absolute
    bottom 0
    right 0
    font-size 60%
    font-weight 300

// References

ol.references
  text-align left
  >li
    margin-bottom 20px
    margin-top 20px

// xs, sm
unquote("@media (max-width: "+sm_max+") {")
h1.page-header
  margin hOne_top_margin 0 10px 0
p
  margin-bottom 10px
unquote("}")

// xs
unquote("@media (max-width: "+xs_max+") {")
body
  font-size 0.75*base_font_size
unquote("}")

// phone
unquote("@media (max-width: "+phone_max+") {")
body
  font-size 0.75*base_font_size
  font-weight normal

strong
  font-weight bold

p.lead
  font-weight inherit
unquote("}")
