// Base styles

body
  font-family base_font
  font-weight 300
  color sol_primary
  background-color sol_background
  font-size base_font_size
  text-align justify

p
  margin-bottom 15px

u
  text-decoration underline

strong
  font-weight 400

.footnote
  font-size 80%

.math-font
  font-family 'Open Sans'
  font-size 100%
  padding 0 5px
  font-weight 100

// Headers

.title
  font-size 150%

h1, h2, h3, h4, h5, h6
  font-family base_font
  a
    color sol_primary
    &:hover
      color link_color
      text-decoration none
  text-align left

h1
  font-weight 400
  font-size 140%

h2
  font-weight 400
  font-size 120%

h3
  font-weight 400
  font-size 110%

h4
  font-weight 400
  font-size 100%

.page-header
  line-height 1.5
  border-bottom 1px solid darken(sol_highlight, 5%)

// Lists

dl
  >dt
    font-weight 400
  >dd
    margin-bottom 10px

// Code

pre, code, pre.prettyprint, code.prettyprint
  font-family mono_font
  background-color sol_highlight


// Links

a
  color link_color
  &:hover
    color link_color
    text-decoration underline

a.prompt
  color inherit
  &:hover
    color link_color
    text-decoration none
  &:after
    content "»"
    color link_color
    padding 0 0 0 .5ex 

.label-info[href]:hover
  background-color link_color

// Dates

.date
  position relative
  color sol_secondary
  >.wrap
    position absolute
    bottom 0
    right 0
    font-size 60%
    font-weight 300

// References

ol.references
  text-align left
  >li
    margin-bottom 20px
    margin-top 20px

// xs, sm
unquote("@media (max-width: "+sm_max+") {")
h1.page-header
  margin hOne_top_margin 0 10px 0
p 
  margin-bottom 10px
unquote("}")

// xs
unquote("@media (max-width: "+xs_max+") {")
body
  font-size 0.75*base_font_size
unquote("}")
