// Colors
@import "solarized-light-custom"
link_color = cyan

// Typography
base_font = 'Open Sans', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif
mono_font = 'Inconsolata', 'Monaco', 'Menlo', 'Courier New', monospace
base_font_size = 16pt


// Screen size definitions
xs_max = 767px
sm_min = 768px
sm_max = 991px
md_min = 992px
md_max = 1199px
lg_min = 1200px

// Global spacing
global_top_margin = 80px
hOne_top_margin = 40px

// Header spacing
header_height = 225px
header_padding = 25px

