@import url("http://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,700|Varela+Round:400");
pre,code,pre.prettyprint,code.prettyprint{background-color:#fdf6e3;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;color:#657b83}
code,code.prettyprint{padding:.4ex .6ex;margin:0 .2ex;font-size:90%}
pre,pre.prettyprint{font-size:95%;width:100%;margin:1em 0;padding:.8em 1em;white-space:pre-wrap;border:none}
.kwd{color:#268bd2}
.pln{color:#657b83}
.pun{color:#586e75}
.typ{color:#b58900}
.com{color:#93a1a1;font-style:italic}
.lit{color:#2aa198}
.str{color:#2aa198}
.tag{color:#268bd2}
.atn{color:#657b83}
.atv{color:#2aa198}
.opn{color:#586e75}
.clo{color:#586e75}
.dec{color:#586e75;font-style:italic}
pre.prettyprint ol.linenums{color:#93a1a1}
body{font-family:'Open Sans','Lato','Helvetica Neue','Helvetica',sans-serif;font-weight:300;color:#657b83;background-color:#fffdf9;font-size:16pt;text-align:justify;text-shadow:0 1px 0 #fffdf9}
u{text-decoration:underline}
strong{font-weight:400}
ul{text-align:left;padding-left:1.5em}
ul li{margin-bottom:.5ex}
ul ul>li{margin-bottom:0}
h1,h2,h3,h4,h5,h6{font-family:'Open Sans','Lato','Helvetica Neue','Helvetica',sans-serif;text-align:left}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#657b83;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#2aa198;text-decoration:none}
h1{font-weight:400;font-size:125%}
h2{font-weight:400;font-size:110%}
h3,h4,h5,h6{font-size:100%}
.page-header{border-bottom:1px solid #f4f6f6}
pre,code,pre.prettyprint,code.prettyprint{font-family:'Inconsolata','Monaco','Menlo','Courier New',monospace;background-color:#f4f6f6}
a{color:#2aa198;}
a:hover{text-decoration:underline}
a.prompt:after{content:"»";color:#2aa198;padding:0 0 0 .5ex}
.label-info[href]:hover{background-color:#2aa198}
.date{position:relative;color:#93a1a1;}
.date >.wrap{position:absolute;bottom:0;right:0;font-size:60%;font-weight:300}
@media (max-width: 991px) {
h1.page-header{margin:40px 0 10px 0}
}
@media (max-width: 767px) {
body{font-size:12pt}
}
.alert{font-size:90%;border:none;color:#657b83;margin:1em 0;}
.alert >code{background-color:#fffdf9}
.alert-info{background-color:#f4f6f6}
.alert-warning{background-color:#ffefbd}
.alert-danger{background-color:#f1adac}
.label-default{background-color:#93a1a1}
.label-info{color:#93a1a1;background-color:#f4f6f6}
.label-warning{background-color:#ffefbd}
.label-danger{background-color:#f1adac}
.center{text-align:center}
span.hidden-xs{display:inline !important}
@media (max-width: 767px) {
span.hidden-xs{display:none !important}
}
.notfound{text-align:center;padding:40px;font-size:60pt}
.header{position:fixed;z-index:10;top:0;right:0;bottom:0;left:auto;text-align:center;}
.header >.wrap{margin-top:80px;position:absolute;left:0;top:0;width:267px}
.header a{color:#586e75;}
.header a:hover{color:#2aa198;text-decoration:none}
.header .logo{height:100px;margin:auto}
.header .name{margin:25px 0 15px 0;font-family:'Varela Round';text-align:center;font-size:150%;text-transform:uppercase;letter-spacing:.2ex;color:#073642}
.header .description{font-size:16pt;padding:0;letter-spacing:.13ex}
.header .social{margin:20px 0 0 0;}
.header .social img{margin:0 3px;width:60px}
.header .social a{opacity:.25;}
.header .social a:hover{opacity:.4}
.header .email{font-size:75%;color:#93a1a1;margin:20px 0 20px 0;text-align:right}
@media (max-width: 767px) {
.header{font-size:25px;position:static;width:100%;text-align:center;}
.header >.wrap{padding:25px 25px 0 25px;position:static;width:100%;height:100%;margin:0}
.header .logo{margin:0 auto;height:50px}
.header .name{margin:15px auto 5px auto;font-size:30px}
.header .description{margin:0 auto;padding:0;font-size:19px}
.header .email{text-align:center;margin:10px auto;font-size:15px}
.header .social{box-sizing:content-box;margin:0 auto;}
.header .social img{box-sizing:content-box;margin:0 6px;width:50px}
}
@media (min-width: 768px) and (max-width: 991px) {
.header{width:100%;height:225px;text-align:left;}
.header >.wrap{position:relative;width:100%;height:100%;padding:25px;margin:0}
.header .logo{float:left;margin-top:10px;height:100px}
.header .name{text-align:left;margin:0 10px 9px 135px;font-size:180%}
.header .description{font-size:100%;text-align:left;margin:0 10px 10px 135px}
.header .email{font-size:70%;position:absolute;top:3px;right:25px}
.header .social{position:absolute;bottom:25px;right:20px;}
.header .social img{margin:0 0 0 3px;width:40px}
}
@media (min-width: 992px) and (max-width: 1199px) {
.header{width:30%}
}
@media (min-width: 1200px) {
.header{width:25%}
}
#header-background{background-color:#fffdf9;z-index:1;position:fixed;top:0;left:0;right:0;height:225px}
#fadeout{z-index:100;position:fixed;left:0;top:225px;right:0;height:37.5px;background:-webkit-linear-gradient(top, #fffdf9, transparent);background:-moz-linear-gradient(top, #fffdf9, transparent);background:-o-linear-gradient(top, #fffdf9, transparent);background:-ms-linear-gradient(top, #fffdf9, transparent);background:linear-gradient(to bottom, #fffdf9, transparent)}
footer .copy{margin-top:100px;color:#93a1a1;font-size:60%;text-align:center}
@media (max-width: 767px) {
footer .copy{margin:20px 0 -20px 0;text-align:center}
}
#content{z-index:0;margin:40px 0 0 0;padding:0 7% 0 7%;width:75%}
@media (max-width: 991px) {
#content{width:100%;padding:0 20px;margin:0}
}
@media (min-width: 768px) and (max-width: 991px) {
#content{margin:225px 0 0 0}
}
@media (min-width: 992px) and (max-width: 1199px) {
#content{padding:0 5%;width:70%}
}
