---
template: layout.jade
---

.row#actual-causation
  .col-md-12
    h1.title Actual Causation
    ul.nav.nav-tabs
      li(role="presentation")
        a(href='/actual-causation/theory.html') Theory
      li.active(role="presentation")
        a(href='/actual-causation/simulation.html') Simulation

#actual-causation-simulation-wrapper
  iframe#actual-causation-simulation(style='', width='1140px', height='800px', frameborder='0', scrolling='yes', src='https://master.d28vdg92wzfkh8.amplifyapp.com/')
