---
template: layout.jade
---

.row#actual-causation
  .col-md-12
    h1.title Actual Causation
    ul.nav.nav-tabs
      li.active(role="presentation")
        a(href='/actual-causation/theory.html') Theory
      li(role="presentation")
        a(href='/actual-causation/simulation.html') Simulation
.row
  .col-md-12
    p Theory!
