.wrap
  .iit-header
    .jumbotron
      .logo
        img(src='/img/logo.png', alt="Greek letter Phi (symbol for integrated information)")
      .title
        p.hidden-xs Resources for exploring
        h1 Integrated Information Theory